#gameboard {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
}

.square {
    width: 80px;
    height: 80px;
    position: relative;
}

.square svg {
    height: 60px;
    width: 60px;
    margin: 10px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(110, 110, 98);
}

.brown {
    background-color: rgb(169, 43, 43);
}

.black {
    fill: rgb(42, 39, 39);
}

.white {
    fill: rgb(235, 235, 235);
}

.body {
    font-size: 25px;
}

