#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
}

.square {
    width: 40px;
    height: 40px;
}

.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.beige {
    background-color: rgb(110, 110, 98);
}

.brown {
    background-color: rgb(169, 43, 43);
}

.black {
    fill: rgb(42, 39, 39);
}

.white {
    fill: rgb(235, 235, 235);
}